/* 






:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

html{
  background-color: black;
}
*{
  color: white;
}

select, option, input, button{color: black;}



dialog{
  display: block;
} 

.mainDiv{
  border: black solid 5px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(15, 15, 17); */
  background-color: black;
}

.container{
  /* border: red 5px solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.divOne{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

}

#divFour{
  /* border: yellow 5px solid; */
  align-self: center;
}


h1{display: flex;
justify-content: center;}

section{display: flex;}

select, input{
  max-width: 50%;
}

.whiteBorder{
  border: white 5px solid;
}

body{
  background-color: black;
}
/* select{display: flex;} */

h2,h3{
  margin: 20px;
}

.form-select, .form-control{
margin: 0 auto;}


#submit{
  margin: 5rem;
}
